[Unit]
Description=Solirom admin backend
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=claudius
Group=claudius
WorkingDirectory=/home/claudius/services/solirom-admin-backend/
ExecStart=/home/claudius/services/solirom-admin-backend/solirom-admin-backend
Restart=always

[Install]
WantedBy=multi-user.target
